# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
.vs/
*.suo
*.user
*.userprefs
*.csproj.user
*.DotSettings.user
*.VisualState.xml

# .NET build output
**/bin/
**/obj/
**/TestResult*/
**/TestResults/

# Logs/temp
*.tmp
*.log
*.bak

# Diagram backups
*.drawio.bak
